/* page.module.css */
.head{
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* ทำให้รายการ (li) มีความกว้างเต็มรูป */
}

.container img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px; /* กำหนดขนาดรูปภาพ */
  height: 50px;
}

.container h2 {
  margin: 0;
}

.container h3 {
  color: #555;
  margin: 0;
}

.container a {
  text-decoration: none;
  color: #007bff;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #007bff;
  padding: 8px 15px;
  border-radius: 5px;
}

.container a:hover {
  background-color: #007bff;
  color: #fff;
}

.btndel {
  background-color: #eb190a;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.container .edit-delete-buttons {
  display: flex;
}

.container .edit-delete-buttons button {
  margin-left: 5px;
}

/* เพิ่มสไตล์สำหรับปุ่ม Edit */
.container .edit-delete-buttons .edit-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.container .edit-delete-buttons .edit-button:hover {
  background-color: #218838;
}

/* เพิ่มสไตล์สำหรับปุ่ม Delete */
.container .edit-delete-buttons .delete-button {
  background-color: #eb190a;
}

.container .edit-delete-buttons .delete-button:hover {
  background-color: #d8180a;
}
